@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    
    box-sizing: border-box;
   
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(‎Background.jpeg);
    background-size: cover;
    background-position: center;
   
}

body, .quote-input{
    font-family: 'Roboto Condensed', sans-serif; 
    
}

.container{
    background:rgba(131, 126, 126, 0.275);
    border: 2px solid rgba(255,255, 255,.5);
    color: black;
    border-radius: 20px;
    backdrop-filter: blur(60px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    
    
    width: 1000px;
    max-width: 90%;
    
    padding: 2rem;

}

.timer {
    position: absolute;
    top: 8rem;
    font-size: 3rem;
    color: ghostwhite;
    font-weight: bold;

}

.quote-display{
   
   margin-bottom: 2rem;
   font-size: 1.5rem;
    color: gold;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input{
    background-color: rgba(18, 9, 9, 0.275) ;
    border: 2px solid rgb(107, 105, 105);
    outline: none;
    width: 100%;
    height:16rem;
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    color: whitesmoke;

    


}

.quote-input:focus{
    border-color: black;
    width: 100%;
    height: 15rem;
}



.incorrect {
    color: red;
    text-decoration: underline;
}

.correct {
    color: green;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    color: rgb(246, 244, 241);
    font-size: 1rem;
}

.logo{
    font-size: 1.5em;
    color: gold;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: beige;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:3px;
    background:white;
    border-radius: 5px;
    transform-origin: right; 
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after{
    transform: scaleX(1);

}

